$black: #111;
$white: #fff;
$orange: #FF6A00;
$text: #555555;
$border: #333;
$border_orange: #FF832C;
$shadow_1: rgba(0,0,0,0.26);

// WebSeed Academy にできること
$gold: #F9BF00;

// ソリューション
$solution_1: #F50D06;
$solution_2: #FF822A;
$solution_bg: #F5F5F5;
$solution_text: #707070;
$under_line: #FCFF77;
$arrow_bg: #DADADA;

// メリット
$merit_bg: #FEFAF3;
$merit_text: #707070;
$card_title: #FF842C;
$merit_arrow: #FECDAA;

// ４つの仕組み
$num: #FAAF7E;
$method_title: #FF6400;

// 受講生の声
$voc_shadow: #FECDAA;
$task_wrap_bg: #FAFAFA;

// 料金
$table: #FF822C;
$flow_div: #F1F1F1;

// FAQ
$q_title: #FEE1CC;
$q_text: #FF832C;
$a_title: #BBDBEC;

// CTA
$cta_wrap_bg_1: #fde1cc;
$cta_wrap_bg_2: #feceaa;
$btn_text: #fff;
$document_btn_1: #51E5E7;
$document_btn_2: #379CDB;
$contact_btn_1: #F5822C;
$contact_btn_2: #F30603;
